body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background: url(images/2.jpg);
	background-repeat: no-repeat;
  background-attachment: fixed; 
	background-size:cover;
}
section{
    margin: auto;
    padding: 4em; 
    width: 1000px;
}
#menu
{
  overflow: hidden;
	position: fixed;
	width: 100%;
  height: auto;
  background-image: url(images/cov3.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size:cover;
  padding: 150px 10px;
  transition: 0.4s;
  top: 0;
  z-index: 99;
}
#menu ul li {
  padding: 0 5px;
	margin: 20px;
  display: inline;
}

#menu ul li a {
  padding: 0 0 15px 0;
  float: left;
  margin-left: 14px;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	color: blue;	
	outline: none;
}
#menu li a:hover, #menu li .current {
	background: url(images/templatemo_menu_hover.png) center bottom no-repeat;
	color: #FFF;
}
#menu .last {
	border: none;
}
h1{
	text-align:center;
	font-size:200%;
}
h2{
	text-align:center;
	font-size:150%;
	
}
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

section#contact{
	background: url(images/18.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: scroll; 
	background-size:cover;
    width: 500px;
}